<ion-header>
  <ion-toolbar>
  <ion-title slot="end" class="title">من نحن</ion-title>
  <ion-img slot="start"  class="nav-img" src="assets/imgs/Baladiti-2018.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        <ion-img src="assets/imgs/mourakiboun.svg"></ion-img>
      </ion-card-title>
      <p class="p">
        مراقبون شبكة وطنية لملاحظة الانتخابات، حيث تضم أكثر من 4000 ملاحظا مكونا ومعتمدا يتم نشرهم على كامل تراب الجمهورية التونسية والدوائر الانتخابية بالخارج.

        هذا وتعمل مراقبون على متابعة وملاحظة مختلف مراحل المسار الانتخابي وخاصة منها يوم الاقتراع وذلك باستعمال منهجيات حديثة ومتطورة في الملاحظة ومعالجة البيانات والنتائج المتعلقة بالانتخابات.
      </p>
      <br/>
      <ion-card-title>
        <ion-img src="assets/imgs/di.svg"></ion-img>
      </ion-card-title>
      <br/>
      <p class="p">لإثراء محتوى تطبيقة بلديتي 2018 أو الاعلان على أي خطأ، يرجى الإتصال بنا على:
        <br>
        <a href="mailto:baladity2018@mourakiboun.org">Baladity2018@mourakiboun.org</a>
         
         </p>
        
      <br>
      <small style="text-align: center;display: block;">copyright 2018 powered by <a href="http://www.idvey.com/">Idvey</a> </small>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-tab-bar slot="bottom"  color="warning">
  <ion-tab-button routerLink="/results">
    <ion-icon name="list" color="dark"></ion-icon>
    <ion-label class="lab" color="dark">النتائج
    </ion-label>
  </ion-tab-button>

<ion-tab-button routerLink="/kaima">
  <ion-icon name="search" color="dark"></ion-icon>
<ion-label  class="lab" color="dark">القائمات
</ion-label>
</ion-tab-button>

<ion-tab-button  routerLink="/about">
  <ion-icon name="information-circle" color="danger"></ion-icon>
<ion-label class="lab"  color="danger">من نحن
</ion-label>
</ion-tab-button>

<ion-tab-button  routerLink="/home">
  <ion-icon name="home" color="dark"></ion-icon>
  <ion-label class="lab" color="dark">بلديتي 22018
  </ion-label>
</ion-tab-button>
</ion-tab-bar>