
    #topButtons {
      display: flex;
      flex-direction: row;
    }
    #topButtons button {
      flex: 1;
    }
    .select-text{
      font-weight: 700;
    }
    .item-ios{
      padding-right:0;
    }
    .item-inner{
      border-bottom: 0;
      padding-right:15px;
      background-color:#e4e4e4
    }
    .item-select .label-md{
      color:#0b1e60
    }
    .alert-md .alert-button{
      direction: ltr;
    }
  