<ion-header>
  <ion-toolbar>
  <ion-title slot="end" class="title"> بلديتي 2018</ion-title>
  <ion-img slot="start"  class="nav-img" src="assets/imgs/Baladiti-2018.svg"></ion-img>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        <img src="assets/imgs/Baladiti-2018.svg">
      </ion-card-title>
      <p class="p">
        صمّم هذا التطبيق "بلديتي 2018" للسماح للمواطنين بمتابعة الحملة الانتخابية المتعلقة بالانتخابات البلدية 2018 بشكل أفضل، أسهل وأوضح.
        يمكّن هذا التطبيق من التعرف على القائمات الانتخابية المترشحة وذلك في كل البلديات، ويوفر أيضا التطبيق "بلديتي 2018" العديد من المعلومات المتعلقة بالقوائم المترشحة، وعلى وجه الخصوص ستعرف برئيس القائمة حزبية، مستقلة أو إئتلافية والبرنامج السياسي المقترح من قبل كل قائمة مترشحة.
      </p>
      <p class="p">لإثراء محتوى تطبيقة بلديتي 2018 أو الاعلان على أي خطأ، يرجى الإتصال بنا على:
        <a href="mailto:baladity2018@mourakiboun.org">Baladity2018@mourakiboun.org</a> </p>
      <br>
      <small style="text-align: center;display: block;">copyright 2018 powered by <a href="http://www.idvey.com/">Idvey</a> </small>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-tab-bar slot="bottom"  color="warning">
  <ion-tab-button routerLink="/results">
    <ion-icon name="list" color="dark"></ion-icon>
    <ion-label class="lab" color="dark">النتائج
    </ion-label>
  </ion-tab-button>

<ion-tab-button routerLink="/kaima">
  <ion-icon name="search" color="dark"></ion-icon>
<ion-label  class="lab" color="dark">القائمات
</ion-label>
</ion-tab-button>

<ion-tab-button  routerLink="/about">
  <ion-icon name="information-circle" color="dark"></ion-icon>
<ion-label class="lab"  color="dark">من نحن
</ion-label>
</ion-tab-button>

<ion-tab-button  routerLink="/home">
  <ion-icon name="home" color="danger"></ion-icon>
  <ion-label class="lab" color="danger">بلديتي 22018
  </ion-label>
</ion-tab-button>
</ion-tab-bar>